<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532508380315-m1f3cmmr68n164vbrg1k3oiton0e6lga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532508380315-m1f3cmmr68n164vbrg1k3oiton0e6lga</string>
	<key>API_KEY</key>
	<string>AIzaSyAnDrzC-xvosmQeC6oigZXio4Fsa1WeiTE</string>
	<key>GCM_SENDER_ID</key>
	<string>532508380315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eagle.Eagle</string>
	<key>PROJECT_ID</key>
	<string>eagle-store-90096</string>
	<key>STORAGE_BUCKET</key>
	<string>eagle-store-90096.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532508380315:ios:946e4ad48a07ec5554ca3e</string>
</dict>
</plist>